<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace = "normal/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Contact Manger</title>
</head>
<body>
	<section>
	
	
		<div th:if = "${message}" th:text = "${message.content}" th:classappend = "${message.type}"></div>
		
		
		<div class="card">
		
			<div class="card-body d-flex flex-column align-items-center">
			
				<div style = "display: flex; flex-direction: row; align-items: center;">
					
					<div>
						<img style = "width: 5vw;" src="" th:src = "@{'/Image/' + ${contact.image}}" alt="" />
					</div>
				
					<div>
						<h1 style = "font-size: 60px; margin-left: 10px;" th:text = "${contact.name}"></h1>
					</div>
				</div>
				
				
				<table class="table mt-5">
				  <tbody>
				    <tr>
				      <th scope="row">Nickname</th>
				      <td th:text = "${contact.secondName}"></td>
				    </tr>
				    <tr>
				      <th scope="row">Contact no.</th>
				      <td th:text = "${contact.phone}"></td>
				    </tr>
				    <tr>
				      <th scope="row">Email</th>
				      <td th:text = "${contact.email}"></td>
				    </tr>
				    <tr>
				      <th scope="row">Type</th>
				      <td th:text = "${contact.work}"></td>
				    </tr>
				    <tr>
				      <th scope="row">Description</th>
				      <td th:text = "${contact.description}"></td>
				    </tr>
				  </tbody>
				</table>
				
				<div class="container mt-5">
				
					<a href="" th:href = "@{'/user/update/' + ${contact.cId}}" class="btn btn-primary">Update</a>
					<a href="" th:href = "@{'/user/delete/' + ${contact.cId}}" class="btn btn-danger">Delete</a>
				
				</div>
				
			</div>
		
		</div>
		
		
	</section>
</body>
</html>b